/* Text Styles */
.chart {
  width: 55%;
  background: #343a40;
  border: 2px solid #555652;
  margin-top: 5px;
  margin-left: 340px;
}

.text-info-js {
  position: relative;
  width: max-content;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  margin-top: 10px;
  margin-left: 500px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  font-style: italic;
  font-size: 120%;
}

.text-info-js::before,
.text-info-js::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-info-js::before {
  background: #161616;
  animation: typewriter 3s steps(64) 1s forwards;
}

.text-info-js::after {
  width: 0.125em;
  background: black;
  animation: typewriter 3s steps(64) 1s forwards, blink 750ms steps(63) infinite;
}

.text-info-two {
  position: relative;
  width: max-content;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  margin-top: 10px;
  margin-left: 620px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  font-style: italic;
  font-size: 120%;
}

.text-info-two::before,
.text-info-two::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-info-two::before {
  background: #161616;
  animation: typewriter 2s steps(64) 1s forwards;
}

.text-info-two::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(64) 1s forwards, blink 750ms steps(63) infinite;
}

.text-info-age {
  position: relative;
  width: max-content;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  margin-top: 10px;
  margin-left: 200px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  font-style: italic;
  font-size: 120%;
}

.text-info-age::before,
.text-info-age::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-info-age::before {
  background: #161616;
  animation: typewriter 3s steps(64) 1s forwards;
}

.text-info-age::after {
  width: 0.125em;
  background: black;
  animation: typewriter 3s steps(64) 1s forwards, blink 750ms steps(63) infinite;
}

.buttonsLayout {
  margin-bottom: 15px;
  margin-left: 220px;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.welcomeText {
  position: relative;
  width: max-content;
  font-family: "Share Tech Mono", monospace;
  font-style: italic;
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 400px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.welcomeText::before,
.welcomeText::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcomeText::before {
  background: #161616;
  animation: typewriter 4s steps(63) 1s forwards;
}

.welcomeText::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(63) 1s forwards, blink 750ms steps(63) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
