/* Master Styles */

body {
  margin: 0px;
  /* display: grid; */
  place-content: center;
  background-color: #555652;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #343a40;
}

/* Nav Styles */

/* .nav-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.text-logo {
  margin-right: 250px;
  margin-top: 0px;
  color: black;
  text-decoration: none;
}

.nav-wrapper > div {
  margin-right: 30px;
  font-size: 1.2em;
}*/

.nav-item {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-item a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.nav-item a:hover {
  color: rgb(194, 153, 255);
}

.active {
  border-bottom: 2px solid black;
}

.active a {
  color: rgb(
    194,
    153,
    255
  ) !important; /*Its important in order to override the default color*/
}

/* Graph-Styles */

/* .graph-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

/* .graph-item-wrapper {
  position: relative;
  height: 350px;
  width: 50%;
} */

.chart {
  width: 55%;
  background: #222;
  border: 2px solid #555652;
  margin-top: 5px;
  margin-left: 340px;
}
