/* Master Styles */

body {
  margin: 0px;
  /* display: grid; */
  place-content: center;
  font-family: "Lato", sans-serif;
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #343a40;
}

/* Nav Styles */

/* .nav-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.text-logo {
  margin-right: 250px;
  margin-top: 0px;
  color: black;
  text-decoration: none;
}

.nav-wrapper > div {
  margin-right: 30px;
  font-size: 1.2em;
}*/

.nav-item {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-item a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.nav-item a:hover {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.active {
  border-bottom: 2px solid black;
}

.active a {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.navbar-brand {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
/* Graph-Styles */

/* .graph-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

/* .graph-item-wrapper {
  position: relative;
  height: 350px;
  width: 50%;
} */

.chart {
  width: 55%;
  background: #343a40;
  border: 2px solid #555652;
  margin-top: 5px;
  margin-left: 340px;
}

.selectButton {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  /* color: honeydew; */
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 110%;
  border-radius: 4px;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  border: 1px solid #616161;
  z-index: 1;
}

.selectButton:hover {
  color: white;
  cursor: pointer;
}

.selectButton::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selectButton:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
