body{
    /* background-image: url("cats.jpg");*/
    height: 100%;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

    
}

#userStats{
border: 3px solid #363c3f;
background-color: rgba(240, 240, 240, 0.8);
font-family: Arial, Helvetica, sans-serif;
display: block;
width: 300px;
padding: 1px;
margin-top: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-radius: 3%;
position: absolute;
top: 240px;
left: 10%;
}

#upload{
border: 3px solid #363c3f;
background-color: rgba(240, 240, 240, 0.8);
font-family: Arial, Helvetica, sans-serif;
display: block;
width: 220px;
padding: 1px;
margin-top: 5px;
padding-left: 10px;
padding-bottom: 10px;
border-radius: 3%;
position: absolute;
top: 420px;
left: 10%;
}
/*
#map{
border: 3px solid #62aad3;
background-color: rgba(240, 240, 240, 0.8);
font-family: Arial, Helvetica, sans-serif;
display: block;
width: 680px;
height: 460px;
padding: 1px;
margin-top: 5px;
padding-left: 10px;
padding-bottom: 10px;

position: absolute;
top: 150px;
left: 50%;
}  */  

#welcome{
color: white;
}

#mapid {
border: 5px blue;
display: block;
width: 680px;
height: 460px;
padding: 1px;
margin-top: 5px;
padding-left: 10px;
padding-bottom: 10px;
border-radius: 1%;
position: absolute;
top: 150px;
left: 50%; }




#mysubmit {
background-color: rgb(40, 38, 43);
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
width: 160px;


/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/

}



input[type=file] {
position: absolute;
top:-5px; /* size of border */
left:-5px; /* size of border */
box-sizing: border-box;
margin: 0;
padding: 0;
width: 240px;
height: 50px;
border: 1px solid red;
opacity: 0; /* hide actual input */
cursor: pointer
}

.fakeFileButton {
position: relative;
margin: 0;
padding: 15px 32px;
margin: 4px 2px;
/*width: 240px;  same as button */
height: 50px; /* same as button */
background-color: rgb(40, 38, 43);
border: none;
font-size: 16px;
color: rgb(255,255,255);
text-align: center;
width: 160px;
display: inline-block;
}
.fakeFileButton:hover {
background-color: rgb(100,150,255);
color: rgb(0,0,0);
}


#mysubmit:hover {
    background-color: rgb(100,150,255);
    color: rgb(0,0,0);
    }
    
/*------------------------------------------------------------------------------------------- */
.switch {
position: relative;
display: inline-block;
width: 120px;
height: 34px;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #402cad;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #3DA8AD;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(85px);
-ms-transform: translateX(85px);
transform: translateX(85px);
}

/*------ ADDED CSS ---------*/
.on
{
display: none;
}

.on, .off
{
color: white;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 10px;
font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
table, td, th {  
border: 1px solid black;
text-align: left;
font-size: 15px;
align-self: center;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 10px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-item {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-item a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-item:hover {
    border-bottom: 2px solid black;
  }
  
  .nav-item a:hover {
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
  .active {
    border-bottom: 2px solid black;
  }
  
  .active a {
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
  .navbar-brand {
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }