html {
            /* background-image: url("cats.jpg");*/
            height: 100%;
            background-image: linear-gradient(to bottom right, rgb(102, 178, 2535), rgb(0, 0, 102));
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 3px 0;
            box-sizing: border-box;
            border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }

        input[type=submit] {
            width: 100%;
            outline: none;
            font-size: 1rem;
            background-color: #4B83AE;
            border: 0;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;

        }

        input:not(#submit):focus {
            border: 3px solid #555;
        }

        label {
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            color: rgb(43, 11, 58);
        }

        .suf {
            background-color: rgba(240, 240, 240, .8);
            display: block;
            width: 300px;
            border: 4px solid rgb(43, 11, 58);
            padding: 50px;
            margin: auto;
            border-radius: 5%;
            height: 250px;
            padding-top: 60px;

        }

        .su {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 6.5rem;
            font-weight: bolder;
            color: azure;
            padding-bottom: 30px;
            padding-top: 15px;


        }


        fieldset {
            border: 0;
            float: left;
        }

        .gen_group {
            display: block;
            width: 300px;
            padding: 100px;
        }



        /* The message box is shown when the user clicks on the password field */
        #message {
            display: none;
            color: rgb(39, 39, 39);
            position: relative;
            padding: 1px;
            margin-top: 5px;
            padding-left: 10px;
            padding-bottom: 10px;
            border-radius: 3%;
        }

        .msg {
            background-color: rgba(240, 240, 240, 0.8);
            font-family: Arial, Helvetica, sans-serif;
            display: grid;
            width: 380px;
            border: 5px solid rgb(161, 78, 255);

            float: left;
            border-radius: 3%;
            position: absolute;
            top: -350px;
            left: 67%;
            animation-name: example;
            animation-duration: 3s;
        }

        @keyframes example {
            0% {
                left: 67%;
                top: -900px;
            }

            25% {
                left: 67%;
                top: -900px;
            }

            50% {
                left: 67%;
                top: -350px;
            }

            75% {
                left: 67%;
                top: -350px;
            }

            100% {
                left: 67%;
                top: -350px;
            }
        }


        #message span {
            padding: 10px 35px;
            font-size: 14px;
        }

        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

        .valid:before {
            font-family: "Font Awesome 5 Free";
            position: relative;
            left: -35px;
            font-weight: 900;
            content: "\f00c";
        }

        /* Add a red text color and an "x" icon when the requirements are wrong */
        .invalid {
            color: rgb(155, 2, 2);
        }

        .invalid:before {
            font-family: "Font Awesome 5 Free";
            position: relative;
            left: -35px;
            font-weight: 900;
            content: "\f00d";
        }


        /*----------------------------------------------------*/
        .field-icon {
            float: right;
            margin-left: -32px;
            margin-top: 23px;
            margin-right: 4px;
            position: relative;
            z-index: 2;
        }

        .container {
            padding-top: 50px;
            margin: auto;
        }



        span {
            font-family: Arial, Helvetica, sans-serif;
        }

        #form-messages {
            background-color: rgb(255, 232, 232);
            border: 3px solid red;
            color: red;
            display: none;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
            padding: 10px 25px;
            max-width: 250px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            top: 180px;
            left: 40.3%;
            border-radius: 5%;
        }

        #signup {
            width: 100%;
            outline: none;
            font-size: 1rem;
            border: 0;
            color: rgb(0, 0, 102);
            padding: 1px 50px;
            text-decoration: none;
            margin: 70px 23px;
            cursor: pointer;
        }