/* Master Styles */

body {
  margin: 0px;
  display: grid;
  place-content: center;
  /* text-align: center; */
  background-color: #555652;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav Styles */

.nav-wrapper {
  display: flex;
  justify-content: center;
  padding: 38px;
}

.nav-wrapper > div {
  margin-right: 30px;
  font-size: 1.3em;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #222;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: rgb(194, 153, 255);
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: rgb(
    194,
    153,
    255
  ) !important; /*Its important in order to override the default color*/
}

/* Graph-Styles */

/* .graph-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

/* .graph-item-wrapper {
  position: relative;
  height: 350px;
  width: 50%;
} */

.chart {
  width: 80%;
  background: #222;
  border: 2px solid #555652;
  margin-top: 5px;
  margin-left: 90px;
}

.text-info {
  position: relative;
  width: max-content;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  margin-top: 10px;
  margin-left: 270px;
  color: rgb(194, 153, 255);
  font-style: italic;
  font-size: 120%;
}

.text-info::before,
.text-info::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-info::before {
  background: #555652;
  animation: typewriter 4s steps(64) 1s forwards;
}

.text-info::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(64) 1s forwards, blink 750ms steps(63) infinite;
}

.buttonsLayout {
  margin-top: 20px;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.selectButton {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  color: rgb(194, 153, 255);
  background-color: #222;
  font-size: 110%;
  border-radius: 4px;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  border: 2px solid rgb(194, 153, 255);
  position: relative;
  z-index: 1;
}

.selectButton:hover {
  color: #222;
  cursor: pointer;
}

.selectButton::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: rgb(194, 153, 255);
}

.selectButton:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.welcomeText {
  position: relative;
  width: max-content;
  font-family: "Share Tech Mono", monospace;
  font-style: italic;
  font-size: 120%;
  margin-top: 10px;
  margin-left: 210px;
  color: rgb(194, 153, 255);
}

.welcomeText::before,
.welcomeText::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcomeText::before {
  background: #555652;
  animation: typewriter 6s steps(63) 1s forwards;
}

.welcomeText::after {
  width: 0.125em;
  background: black;
  animation: typewriter 6s steps(63) 1s forwards, blink 750ms steps(63) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
