/* Master Styles */

body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav Styles */

.nav-wrapper {
  display: flex;
  justify-content: center;
  padding: 38px;
}

.nav-wrapper > div {
  margin-right: 30px;
  font-size: 1.3em;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: rgb(0, 0, 102);
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: rgb(194, 153, 255);
}

/* Graph-Styles */

.graph-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
